﻿@model IEnumerable<SpecsForSample.Data.ProblemType>
@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @item.Id
                </td>
                <td>
                    @item.Description
                </td>
                <td>@Html.ActionLink("Edit", "Edit", "Home", new {id = @item.Id}, null)</td>
            </tr>
        }

    </tbody>

</table>